/* CSS for Products Carousel */
.productsSection {
  text-align: center;
  padding: 10px 20px;
  /* background-color: #fff; White background */
}


.productsHeader {
  margin-bottom: 10px;
}

.productsTitle {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight:00;
  margin: 0;
  color: #000;
}

.titleUnderline {
  height: 2px;
  width: 60px;
  background-color: black;
  margin: 8px auto 0;
}

.productsSubtitle {
  font-size: 1rem;
  color: #666;
}

.carouselWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin-left: 50px;

}

.carouselContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  flex: 25%;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.productCard {
  background: #fff;
  /* border: 1px solid #eee; */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.productImageWrapper {
  position: relative;
}

.productImage {
  max-width: 100%;
  border-radius: 8px;
}

.discountBadge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.addToBagWrapper {
  margin-top: 15px;
}

.addToBagButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.addToBagButton .bagIcon {
  height: 16px;
}

.productDetails {
  margin-top: 15px;
}

.productTitle {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 1.1rem;
  font-weight: bold;
}

.currentPrice {
  color: #000;
  margin-right: 10px;
}

.originalPrice {
  color: #aaa;
  text-decoration: line-through;
}
.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding-left: 20px;
  /* margin: 20px auto; */
  width: 1450px; /* Restrict maximum grid width */
}

.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.carousel-button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: #000;
  color: #fff;
  border-color: #f5c518;
}