.footer {
    background-color: #f7f5f4;
    padding: 49px 20px;
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight:600;
  }
  
  .footer-container {
    display: flex;.footer {
      background-color: #f7f5f4;
      padding: 49px 20px;
      color: #000000;
      font-family: Arial, sans-serif;
      font-weight:600;
    }
    
    .footer-container {
      display: flex;
      /* flex-wrap: wrap; */
      width: 90%;
      margin-left: 125px;
  
    }
    
    .footer-section {
      flex:15%;
      margin: 0px 5px;
      padding: 0px;
      font-family: "Afacad Flux", serif;
      
    }
    
    .footer-section h3,
    .footer-section h4 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #000;
    }
    
    .footer-section p {
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    .footer-section ul {
      font-size: 18px;
      list-style: none;
      padding: 0px 0px 10px 0px; 
    }
    
    .footer-section ul li {
      margin-bottom: 5px;
    }
    
    .footer-section ul li a {
      text-decoration: none;
      color: #000000;
      font-size: 16px;
    }
    
    .footer-section ul li a:hover {
      color: #555353;
      transition: 0.3s;
    }
    
    .newsletter-input {
      display: flex;
      margin-top: 10px;
    
    }
    
    .newsletter-input input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 50px;
      flex: 1;
    }
    
    .newsletter-input button {
      padding: 15px 1px;
      width: 10rem;
      margin-left:-90px;
      background-color: #685752;
      color: #fff;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }
    
    .newsletter-input button:hover {
      background-color: #553b2f;
    }
    
    .social-icons {
      margin-top: 10px;
      font-size: large;
      align-items: center;
    }
    
    .social-icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: #D8C4B6;
      color: #000;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      text-decoration: none;
      font-size: 14px;
    }
  
    .social-icon:hover {
      background-color: #553b2f;
    }
    
    .footer-bottom {
      text-align: center;
      margin-top: 20px;;
      border-top: 1px solid #000;
      padding-top: 20px;
      font-size: 14px;
      color: #666;
   }
    /* flex-wrap: wrap; */
    width: 90%;
    margin-left: 125px;

  }
  
  .footer-section {
    flex:15%;
    margin: 0px 5px;
    padding: 0px;
    font-family: "Afacad Flux", serif;
    
  }
  
  .footer-section h3,
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
  }
  
  .footer-section p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    font-size: 18px;
    list-style: none;
    padding: 0px 0px 10px 0px; 
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
  }
  
  .footer-section ul li a:hover {
    color: #000;
  }
  
  .newsletter-input {
    display: flex;
    margin-top: 10px;
  
  }
  
  .newsletter-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    flex: 1;
  }
  
  .newsletter-input button {
    padding: 8px 1px;
    width: 10rem;
    background-color: #733f2b;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .newsletter-input button:hover {
    background-color: #553b2f;
  }
  
  .social-icons {
    margin-top: 50px;
    font-size: large;
    align-items: center;
  }
  
  .social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #D8C4B6;
    color: #000;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
  }

  .social-icon:hover {
    background-color: #000000;
    color: #fff;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 50px;;
    border-top: 1px solid #000;
    padding-top: 25px;
    font-size: 14px;
    color: #1a1919;
 }
 
 .span-arrow{
  margin-top: 20px;
  font-weight: 400;
 }
 