@import '@fortawesome/fontawesome-free/css/all.css';
/* Global Fix for Horizontal Overflow */
html, body {
  overflow-x: hidden !important;  /* Force disable horizontal scrolling */
  width: 100% !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
