.modern-sidebar {
    width: 220px;
    background: #ffffff;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #eee;
    position: fixed;
    left: 0;
    top: 0;
}

/* Sidebar links */
.sidebar-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s;
    color: #333;
    font-weight: 500;
    font-size: 20px;
    /* margin-top: 100px; */
}


/* Hover effect */
.sidebar-option:hover {
    background: #f5f5f5;
    /* transform: translateX(4px); */
    color: #000;
}
.sidebar-option.active {
    background: #007bff;  /* Change background */
    color: white;         /* Change text color */
    font-weight: bold;
}

.icon{
    height: 32px;
    width: 32px;
}
.identifire{
    font-family: 'Poppins', sans-serif;;
}

@media screen and (max-width: 768px) {
    .modern-sidebar {
        width: 60px;
        padding: 12px;
    }
    .sidebar-option span {
        display: none;
    }
    .sidebar-option {
        justify-content: center;
    }
}
