.breadcrumb-container {
    position: relative; /* Fixes breadcrumb at the top */
    top: 20px;
    right:100px;
    width: 100%;
    margin-left: -15rem;
    /* background: white; Ensure visibility */
    /* z-index: 1000; Keeps it above other elements */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
  }

  .breadcrumb-home img {
      width: 18px;
  }

  .breadcrumb-link,
  .breadcrumb-text {
      font-size: 12px; /* Smaller font */
  }

  .breadcrumb-separator {
      margin: 0 2px;
  }
}